// Colors
$orange-main: rgb(243, 154, 36);
$green-main: rgb(133, 212, 58);
$white-main: #ffffff;
$white-08: rgba(255, 255, 255, 0.8);
$black-main: #000000;
$black-015: rgba(0, 0, 0, 0.15);
$black-04: rgba(0, 0, 0, 0.445);
$red: red;
$blue: blue;

// Fonts
$font-roboto: "Roboto";
$font-readexpro: "Readex Pro";